*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(65, 147, 241);
    --p-color : rgb(48, 48, 48);

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: rgb(241, 241, 241);
}


body::-webkit-scrollbar {
    width: 10px;
    transition-duration: .8s;
}

body::-webkit-scrollbar-track {
    background-color: #e5e5e5;
}

body::-webkit-scrollbar-thumb {
    background-color:  var(--secondary-color);
    border-radius: 50px;
    transition-duration:  .8s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(122, 182, 231);

}

#goTop {
    position: fixed;
    height: 50px;
    width: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.11);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 3;
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgb(22, 22, 22) 15%, rgb(27, 27, 27) 100%);
}


nav a {
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 35px;
    font-family: 'Caveat', cursive;
    line-height: 1.2;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    animation: animMainTitle 2.5s forwards;
}

header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 20px;
    color: var(--primary-color);
}

#arrow-down {
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
    animation: goDown infinite alternate 1s ease-out;

}
 
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.content {
    position: relative;
    display: block;
    margin-top: 450px;
    padding-left: 50px;
    font-family: 'Roboto';
    text-transform: uppercase;
    z-index: 2;
    width: 70%;
}

.content h2 {
    margin-top: 10px;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 400;
    padding-left: 25px;
    animation: titleContentAnim 1.6s forwards;
    

}

.divider-content {
    position: absolute;
    height: calc(100% + 10px);
    width: 3px;
    z-index: 1;
    background: linear-gradient(0deg, rgb(80, 145, 219) 0%, rgba(49,131,224,1) 100%);
    border-radius: 0 10px 10px 0;
    animation:  anim 1.5s forwards ease-in;
    
}

@media screen and (max-width: 1040px) {
    .content h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 885px) {
    .content {
        margin: 300px auto;
        width: 100%;
    }
    .content h2 {
        font-size: 28px;
    }
}


@media screen and (max-width: 500px) {
    .content {
        margin: 300px auto;
        padding: 0;
        width: 100%;
    }
    .content h2 {
        font-size: 25px;
    }
}






article {
    width: 85%;
    margin: 0 auto;
    margin-top: 270px;
    padding: 75px;
    padding-top: 200px;
    background-color: var(--primary-color);
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.123);
}

@media screen and (max-width: 745px){
    #goTop {
        height: 30px;
        width: 30px;
        background-color: rgba(255, 255, 255, 0.603);
    }
    article {
        width: 100%;
        padding: 0;
    }
    .header-article:nth-child(1), .header-article:nth-child(1)::before {
    border-radius: 15px 15px 0 0;

    }
    .header-article h3{
        font-size: 25px;
    }
}

.header-article {
    position: relative;
    height: 200px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.ha1 {
    background-image: url(src/img/header-article-1.jpg);
}

.ha2 {
    background-image: url(src/img/header-article-2.jpg);
}

.ha3 {
    background-image: url(src/img/header-article-3.jpg);
}

.header-article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.151);
    z-index: 1;

}

.article-title {
    margin-left: 20px;
    padding-left: 8px;
    border-left: solid 3px var(--secondary-color) ;
    color: var(--primary-color);
    font-size: 30px;
    text-transform: uppercase;
    z-index: 2;
}

article p {
    margin-top: 40px;
    font-family: sans-serif;
    line-height: 30px;
    padding-top: 50px;
    padding-bottom: 300px;
    padding-left: 20px;
    padding-right: 5px;
    color: var(--p-color);
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgb(22, 22, 22) 15%, rgb(27, 27, 27) 100%);

}

.credit {
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    color: var(--primary-color);
    text-align: center;
}

.credit span {
    transition-duration: .4s;

}

.credit:hover span {
    color: var(--secondary-color);
}

footer svg {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 5px;
    transition: 1s;
}

.cls-1 {
    transition-duration: .4s;
}

footer svg:hover .cls-1 {
    fill: var(--secondary-color);
}



.divider-footer {
    position: absolute;
    width: 50%;
    height: 2px;
    top: 190px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 15px;
}

@media screen and (max-width: 380px){
    .credit {
        font-size: 30px;
    }
    footer svg {
        height: 30px;
        width: 30px;
    }
}


/* Animations  */

@keyframes goDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim  {
    0% {
        width: calc(100%);
        opacity: 1;
    }
    100% {
        height: calc(100% + 10px);
        width: 10px;
        border-radius: 0  10px 0;
        

    }
}

@keyframes titleContentAnim {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: (1);
    }
}

@keyframes animMainTitle {
    0% {
        letter-spacing: -15px;
        opacity: 0;
    }
    100% {
        letter-spacing: 5px;
        opacity: 1;
    }
}


@keyframes aReducNavBar {
    0% {
        height: 80px;


    }
    100% {
        height: 50px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.329);

    }
}

@keyframes aHeightArticle {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.reducNavBar {
   animation: aReducNavBar 1.4s forwards;
}